:root {
    --cor-background: #D9D6D2;
    --cor-negativo: #BF7590; 
    --cor-botoes: #222326; 
    --cor-display: #86A3A6; 
    --cor-positivo: #4CAF50;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--cor-background);
}

#calculadora-container {
    background-color: var(--cor-negativo);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: var(--cor-display);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #222326;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.vermelho {
    background-color: var(--cor-negativo);
}

.azul {
    background-color: #01415B;
}
